
body{
    background-image:  #ccccbf url(/imagens/fundo.png);

}

#principal{
    width: 900px;
}

.header__lista{
    background: #c5c5b2;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
    list-style-type: none;
    padding: 18px;
    gap: 10px;

}


.header__a{
    color: #18084c;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.sobre__anna{
    background: #c5c5b2;
    gap: 10px;
    padding: 10px;
}

.titulo__nome{
    color: #938061;
    
}

.biografia__ana{
    font-size: 20px;
}

footer{
    display:flex;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
}

.foto_campanha{
    border: 10%;
    border-color: #e10d0d;
}

